.cadre {
	z-index: 11;
	position: fixed;
  max-height: 100%;
  max-width: 100%;
  left: 50%;
  bottom: -5px;
  width: 100vmin;
  transform: translate(-50%, 0%);
  opacity: 1;
}
img {
	max-width: 100%;
}